# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

serviceAccountKey.json
TWILIO_CONFIGURATION.md
WHATSAPP_BOT_SETUP.md
WHATSAPP_IMPLEMENTATION.md
WHATSAPP_NUMBER_FORMAT.md
WHATSAPP_REACT_INTEGRATION.md
WHATSAPP_EXAMPLE_INTEGRATION.jsx
.env
